.card {
  border: 1px solid #450B1E;
  padding: 10px;
  margin: 5px;
  width: auto;
  height: auto;
  max-width: 120px;
  max-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
border-radius: 15px;
}

.card img {
  width: 100%;
  height: auto;

}

.card h5 {
  font-size: 12px;
  margin: 5px 0;

}