header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icons {
    display: flex;
    gap: 15px;
    color: #450B1E;
    background-color: white;
}

.btnhome {
    border: none;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: center; 
    color: #450B1E;
    background-color: white;
}

a:visited {
 color:#450B1E
}
